body {
    font-family: monospace;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
}

.jumbotron {
    display: flex;
    background-size: cover;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}


/*
.jumbotron-fluid {
    background-image: url("images/plant.jpeg");
    background-size: cover;
}

html { 
    background: url(images/plant.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
