body {
    font-family: serif;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
}

.jumbotron {
    display: flex;
    width: 100%;
    background-size: cover;
}

.container .skills-section .card-text {
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer ul.list-unstyled:hover {
    color: #F06543;
}

/*
.jumbotron-fluid {
    background-image: url("images/plant.jpeg");
    background-size: cover;
}

html { 
    background: url(images/plant.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
